[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/EASTL"]
	path = deps/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/luajit"]
	path = deps/luajit
	url = http://luajit.org/git/luajit-2.0.git
